

footer{
    /*margin-top: 500px;*/
    height: 500px;
    background-color: #f7ffee;
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
    align-items: center;
    
}

.loguinho{
    margin-top: 50px;
    height: 80px;
    margin-bottom: 0px;
}

.facebook, .youtube, .insta, .twitter{
    height: 40px;
    width: auto; margin: 5px;
}

.parte1{
 margin-left: 100px;
 margin-right: 100px;
}

.p{
    font-size: 15px;
    font-family: "Sora", "sans-serif";
    color: #000000;
}

.parte2 , .parte3, .parte4, .parte5{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    font-size: 15px;
    margin-top: 20px;
    font-family: "Sora", "sans-serif";
}
a{
text-decoration: none;
color: #000000;
margin-bottom: 9px;
}

.titulo{
    font-weight: bold;
    font-size: 15px;
    font-family: "Sora", "sans-serif";
    color: #000000;
}


